palette = "catppuccin_frappe"

add_newline = false 

[character]
# Note the use of Catppuccin color 'maroon'
success_symbol = "[==>](green)"
error_symbol = "[❯](red)"
vicmd_symbol = "[❮](green)"
# other symbols "❯",">","->","==>"

[directory]
truncation_length = 4
# Catppuccin 'lavender'
style = "bold teal"

[palettes.catppuccin_frappe]
rosewater = "#f2d5cf"
flamingo = "#eebebe"
pink = "#f4b8e4"
mauve = "#ca9ee6"
red = "#e78284"
maroon = "#ea999c"
peach = "#ef9f76"
yellow = "#e5c890"
green = "#a6d189"
teal = "#81c8be"
sky = "#99d1db"
sapphire = "#85c1dc"
blue = "#8caaee"
lavender = "#babbf1"
text = "#c6d0f5"
subtext1 = "#b5bfe2"
subtext0 = "#a5adce"
overlay2 = "#949cbb"
overlay1 = "#838ba7"
overlay0 = "#737994"
surface2 = "#626880"
surface1 = "#51576d"
surface0 = "#414559"
base = "#303446"
mantle = "#292c3c"
crust = "#232634"

[line_break]
disabled = true

# Disable the package module, hiding it from the prompt completely
[package]
disabled = true